<!DOCTYPE html>

<html>
    <head>
        <h1> car price predictor </h1>
    </head>

    <body>

        <h1>Enter the details </h1>
        <form method='post' action = '/predict'>

            <input type =  'text' name = 'model'  placeholder = 'model name' required = 'required' >
            <input type =  'text' name = 'company'  placeholder = 'company' required = 'required' >
            <input type =  'number' name = 'year'  placeholder = 'year' required = 'required' >
            <input type =  'number' name = 'kms'  placeholder = 'kms' required = 'required' >
            <input type =  'text' name = 'fuel'  placeholder = 'fuel' required = 'required' >
            <button>submit</button>

        </form>

    </body>




</html>